.site-present__share {
  vertical-align: top;
  text-align: center;
  height: 20px;
}

.site-present__fb-share,
.site-present__twitter-share {
  vertical-align: top;
  position: relative;
  display: inline-block;
  height: 20px;
}

.site-present__twitter-share {
  margin-left: 10px;
}