.skill-tree_level-2 {
  border-left: 2px solid $gray_6;
  &:hover {
    border-color: $gray_5;
    background-color: $gray_6;
    @include border-right-radius(10px);
  }

  padding: 10px;

  .skill-tree__category-name {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 3px;
  }

  .skill-tree__element {
    display: inline-block;
    padding: 10px;
    width: 24.5%;
    height: 80px;
    margin-bottom: 0.5%;
    background-color: $white;
    border: 1px solid $gray_5;
    vertical-align: top;
    @include border-radius(6px);

    &:nth-child(2n) {
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }

  .skill-tree__element_new {
    > a {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding-top: 50px;
      text-decoration: none;
      color: $gray_5;

      text-align: center;
    }
  }

  margin-bottom: 20px;
}