<%= form_for current_user.profile, html: { class: 'form container' } do |f| %>
  <h1>Edit contacts</h1>

  <%= hidden_field_tag :section, 'contacts' %>

  <%= f.submit 'Save', class: 'button primary' %>

  <%= link_to 'Cancel', edit_profile_path(current_user), class: 'button' %>
<% end %>