<%= form_for current_user.profile, html: { :multipart => true, class: 'form container' } do |f| %>
  <h1>Edit general information</h1>

  <%= hidden_field_tag :section, 'generalinformation' %>


  <%= f.submit 'Save', class: 'button primary' %>

  <%= link_to 'Cancel', edit_profile_path(current_user), class: 'button' %>
<% end %>