{PICTURE} {NAME}

<h1>General info</h1>
<div class="container container-noresults">
  <span>No general information available.</span>
</div>

<h1>IT skills</h1>
<div class="container container-noresults">
  <span>No IT skills available.</span>
</div>

<h1>Language skills</h1>
<div class="container container-noresults">
  <span>No language skills available.</span>
</div>

<h1>Experience timetable</h1>
<div class="container container-noresults">
  <span>No experience available.</span>
</div>

<h1>Interests</h1>
<div class="container container-noresults">
  <span>No interests.</span>
</div>

<h1>Contacts</h1>
<div class="container container-noresults">
  <span>No contacts.</span>
</div>