.skill-bar {
  display: block;
  position: relative;
  padding: 0;
  margin: 21px 0 0 0;
  background-color: $gray_6;
  border: none;
  box-sizing: border-box;
}

/* Dynamic modifiers */
@for $i from 0 through 10 {
  .skill-bar_#{$i} {
    .skill-bar__level {
      @if            $i <= 3  { background-color: $red_3;    }
      @if $i > 3 and $i <= 7  { background-color: $yellow_3; }
      @if $i > 7 and $i <= 10 { background-color: $green_3;  }
      width: $i * 10%;
    }
  }
}