.skill-bar {
  display: block;
  position: relative;
  padding: 1px;
  margin: 18px 0 0 0;
  background-color: $white;
  border: 1px solid $gray_3;
  box-sizing: border-box;
  @include border-radius(4px);
}

/* Dynamic modifiers */
@for $i from 0 through 10 {
  .skill-bar_#{$i} {
    @if            $i <= 3  { border-color: $red_3;    }
    @if $i > 3 and $i <= 7  { border-color: $yellow_3; }
    @if $i > 7 and $i <= 10 { border-color: $green_3;  }

    .skill-bar__level {
      @if            $i <= 3  { background-color: $red_3;    }
      @if $i > 3 and $i <= 7  { background-color: $yellow_3; }
      @if $i > 7 and $i <= 10 { background-color: $green_3;  }
      width: $i * 10%;
    }
  }
}