@import "mixins/clearfix";

.grid {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: 1px dotted gray;
}

/* Dynamic modifiers */
@for $i from 1 through 12 {
  .grid_#{$i} {
    width: ($i * 100%/12);
    padding: 0 10px;
    float: left;
  }
}

@for $i from 1 through 11 {
  .grid_push_#{$i} {
    margin-left: ($i * 100%/12);
  }
}

.grid_alpha {
  padding-left: 0;
}

.grid_omega {
  padding-right: 0;
}