@import 'base';

[data-module="logo"] {
  @include base;

  display: block;
  width: 56px;
  height: 50px;
  background: image-url('logo.png');

  /* Components */

  /* States */

  /* Modifiers */
}