At every level there could be either only skills either only categories
You can create skills and categories at level 0
You can create skills and categories at level 1
You can create only skills on level 2

skill-tree__element_new

<ul class="skill-tree skill-tree_level-0">
  <li class="skill-tree__element skill-tree__element_category">
    <ul class="skill-tree skill-tree_level-1">
      <li class="skill-tree__element skill-tree__element_category">
        <ul class="skill-tree skill-tree_level-2">
          <li class="skill-tree__element skill-tree__element_skill">
            skillbar
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>