$light_gray: #ccc;
$gray: #999;
$dark_gray: #333;

body {
  font-size: 12px;
  color: #333;
  background: image-url('cream_pixels.png');

  > #wrapper {
    width: 960px;
    margin: 10px auto;
    outline: 3px dotted blue;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px
}

ul {
  padding: 0px 0px 0px 25px;
  margin: 0px
}

li {
  padding: 0px;
  margin: 0px
}

p {
  padding: 0px;
  margin: 0px
}