<h3>Add new course</h3>

<%= form_for Course.new, url: profile_courses_path do |f| %>

  <%= f.submit 'Add', class: 'button primary' %>
  <%= link_to 'Cancel', profile_studies_path, class: 'button' %>

<% end %>