.l-top-line {
  display: block;
  height: 5px;
  background-color: #AD151F;
}

.l-header {
  > .container {
    // margin-top: 5px;
    outline: 1px dotted red;
  }
}

.l-user-navigation {
  margin-top: 17px !important;
  float: right;
}

.l-logo {
  float: left;
}

.l-body {
}

.l-footer {
  color: #AD151F;
  text-align: center;
}