.l-top-line {
  display: block;
  height: 5px;
  background-color: $red_3;
}

.l-header {
  > .row {
    text-align: center;
    margin-top: 10px;
    height: 60px;
  }
}

.l-logo {
  position: absolute !important;
  left: 10px;
  top: 0px;
}

.l-profile-navigation {
  display: inline-block !important;
  margin-top: 10px !important;
}

.l-main-navigation {
  float: right;
}

.l-messages {
  margin-top: 15px !important;
}

.l-body {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.l-footer {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  color: $red_3;
  text-align: center;
}