// * { outline: 1px dotted red; }
#wrapper, #header, #body, #footer { position: relative; display: block; }

#wrapper {
  max-width: $application_page_width;
  margin: 20px auto;
  padding: 0px;
}

#header {
}

#body {
  margin: 20px 0px;
}

#footer {
}