.l-top-line {
  display: block;
  height: 5px;
  background-color: $red_3;
}

.l-header {
  > .row {
    text-align: center;
    margin-top: 10px;
        height: 60px;
  }
}

.l-logo {
  float: left;
}

.l-profile-navigation {
  display: inline-block !important;
  margin-top: 10px !important;
}

.l-user-navigation {
  margin-top: 10px !important;
  float: right;
}

.l-messages {
  margin-top: 15px !important;
}

.l-body {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.l-primary-text {
  font-size: 36px;
  text-align: center;
  font-family: OpenSansRegular;
}

.l-secondary-text {
  font-size: 16px;
  text-align: center;
  font-family: OpenSansRegular;
  font-weight: normal;
}

.l-primary-link {
}

.l-footer {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  color: $red_3;
  text-align: center;
}