.l-top-line {
  display: block;
  height: 5px;
  background-color: $red_3;
}

.l-header {
  > .container {
    margin-top: 5px;
  }
}

.l-logo {
}

.l-messages {
  margin-top: 15px !important;
}

.l-body {
  margin-top: 15px !important;
}

.l-footer {
  color: $red_3;
  text-align: center;
}