<h1>Buttons</h1>
<h2>Types</h2>
<a href="#" class="button">Button text</a>
<a href="#" class="button primary">Button text</a>

<h2>Sizes</h2>
<a href="#" class="button large">Button text</a>
<a href="#" class="button">Button text</a>
<a href="#" class="button small">Button text</a>

<h2>Block</h2>
<a href="#" class="button full-width">Button text</a>

<h1>Containers</h1>
<h2>Normal</h2>
<div class="container">
  Container content
</div>
<h2>No results</h2>
<div class="container container-noresults">
  <span>No database records<span>
</div>