@import "compass/css3";

$color_button_white:  #ffffff;

$color_button_gray_1: #fefefe;
$color_button_gray_2: #f0f0f0;
$color_button_gray_3: #e7e7e7;
$color_button_gray_4: #d3d3d3;
$color_button_gray_5: #999999;
$color_button_gray_6: #666666;
$color_button_gray_7: #333333;

$color_button_green_1: #81cf81;
$color_button_green_2: #74bb74;
$color_button_green_3: #61c361;
$color_button_green_4: #57b057;
$color_button_green_5: #52a452;
$color_button_green_6: #4a944a;


.button {
  padding: 5px 12px;
  border: 1px solid $color_button_gray_4;
  background: $color_button_gray_3;
  @include inline-block;
  @include box-shadow($color_button_white 0px 1px 0px inset);
  @include background(linear-gradient(top, $color_button_gray_1, $color_button_gray_3));

  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: $color_button_gray_7;
  @include text-shadow($color_button_white 1px 1px 1px);
  @include border-radius(5px);

  &:hover {
    @include box-shadow($color_button_gray_2 0px 1px 0px inset);
    @include background(linear-gradient(top, $color_button_gray_3, $color_button_gray_4));
  }

  &:active {
    border-color: $color_button_gray_5;
    @include box-shadow($color_button_gray_6 0px 1px 5px inset);
  }

  // components

  // modifiers
  &.small { padding: 3px 8px; font-size: 10px; }
  &.large { padding: 8px 20px; font-size: 14px; }

  &.primary {
    color: #ffffff;
    border: 1px solid $color_button_green_5;
    @include box-shadow($color_button_green_1 0px 1px 0px inset);
    @include background(linear-gradient(top, $color_button_green_3, $color_button_green_5));

    @include text-shadow(#333333 1px 1px 1px);

    &:hover {
      @include box-shadow($color_button_green_2 0px 1px 0px inset);
      @include background(linear-gradient(top, $color_button_green_4, $color_button_green_6));      
    }

    &:active {
      border: 1px solid $color_button_green_6;
      @include box-shadow($color_button_gray_6 0px 1px 5px inset);
    }

  }
  &.danger {}
  &.full-width { display: block; }

  // states
  &:hover {}
  &:active {}
  &.disabled {}
  &.readonly {}
}