.container {
  @include container;

  padding: 30px;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    @include container_hover;
  }
}

.container-editable {
  @extend .container;


  .edit.button.primary {
    visibility: hidden;

    &.right {
      float: right;
      margin-top: 28px;

      &.small { margin-top: 34px; }
      &.large { margin-top: 24px; }
    }
  }

  &:hover > .edit.button.primary { visibility: visible; }
}

.container-noresults {
  padding-top:    50px;
  padding-bottom: 50px;
  text-align: center;

  > span {
    font-size: 30px;
    font-weight: bold;
    color:#111111;
    text-shadow: -1px -1px 0px #000000, 1px 1px 0px #222222;
  }
}