.container {
  @include container;

  padding: 30px;
  text-decoration: none;
  color: #ffffff;

  &.no-results {
    padding-top:    50px;
    padding-bottom: 50px;
    text-align: center;

    .message {
      font-size: 30px;
      font-weight: bold;
      color:#111111;
      text-shadow: -1px -1px 0px #000000, 1px 1px 0px #222222;
    }

    .hint {
      visibility: hidden;
      display: block;
      color: #333333; 
      font-style: italic;
    }

    &:hover .hint { visibility: visible; }
  }
}

.container-editable {
  @extend .container;

  cursor: pointer;

  .edit.button.primary {
    visibility: hidden;

    &.right {
      position: absolute;
      top: 50%;
      right: 20px;

      margin-top: -10px;

      &.small { margin-top: -8px; }
      &.large { margin-top: -16px; }
    }
  }

  &:hover > .edit.button.primary { visibility: visible; }


  &:hover {
    @include container_hover;
  }
}