.navigation {

  > ul      { padding: 0px; margin: 0px; list-style-type: none; }
  > ul > li { padding: 0px; margin: 0px; }

  // Components
  // Modifier
  // States
}

.navigation-user {
  float: right;

  &.not-authenticated {
    margin-top: 15px;
    > ul > li { float: left; margin-left: 5px; &:first-child { margin-left: 0px }; }
  }
}