.page-message {

  font-size: 14px;
  font-weight: bold;
  margin:  20px -999px 10px -999px;
  padding: 15px  999px 15px 999px;
  @include box-shadow(#333333 0px 0px 10px 1px inset);

  &.success     { color: #FFFFFF; background-color: #52a452; }
  &.information { color: #FFFFFF; background-color: #819ae5; }
  &.warning     { color: #FFFFFF; background-color: #e2952f; } 
  &.danger      { color: #FFFFFF; background-color: #fa2e30; }
}