.profile-details {
  display: block;
  position: relative;
}

.profile-details-basic {

  padding: 20px;
  height: 88px;

  .profile-picture {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
  }

  .name {
    height: 88px;
    line-height: 88px;
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px 10px;

    font-size: 30px;
  }
}