.profile-details {
  position: relative;
}

.profile-details-basic {
  height: 88px;

  margin: 50px 0px;

  .profile-picture {
    float: left;
    margin-left: -5px;
  }

  .name {
    height: 88px;
    line-height: 88px;
    float: left;
    padding: 0px;
    margin: 0px 0px 0px 15px;

    font-size: 30px;
  }
}