.badge {
  display: inline-block;
  padding: 6px 12px;
  height: 28px;
  line-height: 1;
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid $gray_5;
  cursor: default;
  @include border-radius(14px);
}