body {
  // background: asset-url('background.png') repeat;
  font-family: OpenSansLight, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  @include box-sizing('border-box');
}

// Overwrite the styles for the button_to forms
.button_to {
  display: inline;

  > div {
    display: inline;
  }
}


// Headings

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1, .h1 { font-size: 30px; }
h2, .h2 { font-size: 26px; }
h3, .h3 { font-size: 22px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }

hr {
  height: 1px;
  color: $gray_4;
  background: $gray_4;
  font-size: 0;
  border: 0;
}


// Inputs

input, select {
  @include input-default;
  display: inline-block;
  border: 1px solid $gray_4;
  background-color: $white;
  // height: 28px;
}

.input_block {
  width: 100%;
  display: block;
}