table {
  width: 100%;
  display: table;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    display: table-header-group;
    vertical-align: middle;

    tr {
      border-top: none;
    }
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
  }

  tr {
    padding: 8px;
    border-top: 1px solid $gray_5;
    border-bottom: 1px solid $gray_5;
  }

  th {
    padding: 8px;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding: 8px;
    text-align: left;
  }

}