/* Mixins */
@import "compass";
@import "mixins/inputs";
@import "mixins/clearfix";

/* Normalize.css */
@import "normalize";

/* Iconic webfonts */
@import "font-awesome";
@import "fonts/opensans";

/* Colors */
@import "colors/palette";

/* The IT skill board base style */
@import "base";

/* Layout */
@import "layout/application";

/* ********** BEM ********** */
@import "bem/badge/*";
@import "bem/badge-list/*";
@import "bem/button/*";
@import "bem/container/*";
@import "bem/form/*";
@import "bem/grid/*";
@import "bem/logo/*";
@import "bem/nav/*";
@import "bem/navigation/*";
@import "bem/notification/*";
@import "bem/pp/*";
@import "bem/pp/pp_gender-and-location/*";
@import "bem/pp/pp_interests/*";
@import "bem/pp/pp_pic-and-name/*";
@import "bem/pp/pp_skill-tree/*";
@import "bem/pp/pp_timetable/*";
@import "bem/profile-names/*";
@import "bem/profile-picture/*";
@import "bem/row/*";
@import "bem/skill-bar/*";
@import "bem/skill-tree/*";
@import "bem/timetable/*";