/*
 * Naming convention: $color_%{NAME_OF_THE_COLOR}_%{COLOR_TONALITY(optional)}
 */

$color_black:      #000000;
$color_gray_dark:  #333333;
$color_gray:       #666666;
$color_gray_light: #999999;
$color_white:      #FFFFFF;

$color_red:        #fa2e30;