.timetable__activity {
  .js & {
    position: absolute;
    border: 1px solid $red_4;
    @include border-radius(10px);
  }

  .no-js & {
    position: relative;
    margin: 0 0 5px 0;
    padding: 0;
  }
}