@font-face {
  font-family: 'OpenSansBold';
  src: font-url('opensans-bold-webfont.eot');
  src: font-url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-bold-webfont.woff') format('woff'),
       font-url('opensans-bold-webfont.ttf') format('truetype'),
       font-url('opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: font-url('opensans-light-webfont.eot');
  src: font-url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-light-webfont.woff') format('woff'),
       font-url('opensans-light-webfont.ttf') format('truetype'),
       font-url('opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: font-url('opensans-regular-webfont.eot');
  src: font-url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('opensans-regular-webfont.woff') format('woff'),
       font-url('opensans-regular-webfont.ttf') format('truetype'),
       font-url('opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}